<turbo-frame id="trip-results">
  <div class="my-4 max-h-[calc(100vh-24rem)] overflow-y-auto" data-controller="trip-results" data-stop-ids="<%= @stop_ids %>">

    <% if @results.empty? %>
      <div class="flex items-center justify-center h-32 text-gray-500">
        <span class="text-2xl">Aucun résultat</span>
      </div>
    <% end %>
    <% @results.each do |result| %>
      <% result[:path].group_by { |segment| segment[:route_id] }.each do |route_id, segments| %>
        <div class="flex items-center">
          <span class="w-8 mr-2 text-xs text-gray-500">
            <%= display_time segments.first[:departure_time] %>
          </span>
          <span class="block w-3 h-3 mx-[5px] bg-white border-2 border-gray-800 rounded-full"></span>

          <span class="ml-2 font-bold text-gray-700">
            <%= Gtfs::Stop.find(segments.first[:from]).name %>
          </span>
        </div>
        <div class="py-4 ml-[49px] -my-3 border-l-4 border-emerald-600/80 items-center flex" data-controller="trip-segment">

          <% if segments.count > 1 %>
            <div>
              <span class="py-1 ml-4 text-xs text-gray-500 cursor-pointer front-semibold hover:underline" data-action="click->trip-segment#toggle">
                <%= pluralize(segments.count - 1, "arrêt") %>
              </span>
              <div class="hidden ml-6 text-xs font-medium text-gray-600 stops">
                <% segments.each_with_index do |segment, index| %>
                  <% if index > 0 %>
                    <div class="py-1 text-xs text-gray-500">
                      <%= Gtfs::Stop.find(segment[:from]).name %> - <%= display_time(segment[:departure_time]) %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <% last_segment = result[:path].group_by { |segment| segment[:route_id] }.to_a.last %>
      <div class="flex items-center">
        <span class="w-8 mr-2 text-xs text-gray-500">
          <%= display_time last_segment[1].last[:arrival_time] %>
        </span>
        <span class="block w-3 h-3 mx-[5px] bg-white border-2 border-gray-800 rounded-full"></span>
        <span class="ml-2 font-bold text-gray-700">
          <%= Gtfs::Stop.find(last_segment[1].last[:to]).name %>
        </span>
      </div>
      <hr class="h-px mx-auto w-[80%] my-4 bg-gray-200" />
    <% end %>
  </div>

</turbo-frame>
