<turbo-frame id="trip-results">
  <% if @result[:path].present? %>
    <% @result[:path].group_by { |segment| segment[:route_id] }.each do |route_id, segments| %>
      <div class="flex items-center">
        <span class="mr-2 text-xs text-gray-500">
          <%= display_time segments.first[:departure_time] %>
        </span>
        <span class="block w-3 h-3 mx-[5px] bg-white border-2 border-gray-800 rounded-full"></span>
        <span class="ml-2 font-bold text-gray-700">
          <%= Gtfs::Stop.find(segments.first[:from]).name %>
        </span>
      </div>
      <div class="h-16 ml-[48px] -my-3 border-l-4 border-emerald-600/80 items-center flex">
        <span class="ml-4 -mt-1 text-xs text-gray-500">
          <% if segments.count > 1 %>
            <%= pluralize(segments.count - 1, "arrêt") %>
          <% end %>
        </span>
      </div>
    <% end %>

    <% last_segment = @result[:path].group_by { |segment| segment[:route_id] }.to_a.last %>
      <div class="flex items-center">
        <span class="mr-2 text-xs text-gray-500">
          <%= display_time last_segment[1].last[:arrival_time] %>
        </span>
        <span class="block w-3 h-3 mx-[5px] bg-white border-2 border-gray-800 rounded-full"></span>
        <span class="ml-2 font-bold text-gray-700">
          <%= Gtfs::Stop.find(last_segment[1].last[:to]).name %>
        </span>
      </div>
  <% else %>
    Pas de train
  <% end %>
<script>
  ids = <%== @result[:path].flatten.map{ |segment| "#{segment[:to]}"}.prepend(@result[:start]) %>

  fetch(`/api/trips/id?stop_ids=${ids.join(',')}`)
    .then(response => response.json())
    .then(data => {
      let idx = 0
      data.forEach((trip) => {
        idx += 1
        // clean up old layers until no more
        while (window.map.getSource('trip_' + idx)) {
          window.map.removeLayer('trip_' + idx)
          window.map.removeSource('trip_' + idx)
          idx += 1
        }
        window.map.addSource('trip_' + idx, {
          type: 'geojson',
          data: trip
        })
        window.map.addLayer({
          id: 'trip_' + idx,
          type: 'line',
          source: 'trip_' + idx,
          layout: {
            'line-join': 'round',
            'line-cap': 'round'
          },
          paint: {
            'line-color': '#065f46',
            'line-opacity': 0.8,
            'line-width': 5
          }
        })
      })
    })
</script>

</turbo-frame>
