<div class="px-4 md:px-0">

  <h1 class="max-w-2xl mx-auto mt-12 text-xl font-bold">Une carte de France des zones accessibles en vélo depuis une gare, mais pourquoi ?</h1>

  <div class="w-full h-px max-w-2xl mx-auto my-8 bg-gray-200"></div>

  <div class="max-w-2xl mx-auto text-gray-700 leading-6">
    <p class="py-4 text-lg font-semibold">Hello 👋</p>


    <p class="py-4">
    Je suis <a target="_blank" class="font-medium underline" href="https://www.linkedin.com/in/clementferey/">Clément</a>, fasciné par les trains et les vélos depuis... longtemps. Désormais, je suis également convaincu que ce mode de mobilité mixte est une des solutions pour un futur viable, c'est pourquoi j'ai décidé de créer cette carte de France du train vélo.
    </p>

    <h2 class="text-lg font-semibold">
      Le vélo dans le train ?
    </h2>
    <p class="py-4">
    Que ce soit pour les trajets du quotidien, pour une sortie de vélo de route à la journée ou pour partir en voyage, le vélo est facilement embarquable dans nos trains (régionaux en tout cas). <br/>
    La flexibilité de pouvoir aller vite et loin, puis la joie et la liberté de sortir de la gare en enfourchant son vélo font partie de mes meilleurs souvenirs de voyage.
    </p>
  </div>

  <div class="flex max-w-6xl mx-auto mt-12 overflow-auto rounded-xl gap-0">
    <%= image_tag "bike_2.jpeg", class: "object-cover w-64 h-44" %>
    <%= image_tag "bike_3.jpeg", class: "object-cover w-64 h-44" %>
    <%= image_tag "bike_4.jpeg", class: "object-cover w-64 h-44" %>
    <%= image_tag "bike_5.jpeg", class: "object-cover w-64 h-44" %>
    <%= image_tag "bike_11.jpeg", class: "object-cover w-64 h-44" %>
    <%= image_tag "bike_1.jpeg", class: "object-cover w-64 h-44" %>
    <%= image_tag "bike_6.jpeg", class: "object-cover w-64 h-44" %>
    <%= image_tag "bike_7.jpeg", class: "object-cover w-64 h-44" %>
    <%= image_tag "bike_10.jpeg", class: "object-cover w-64 h-44" %>
    <%= image_tag "bike_12.jpeg", class: "object-cover w-64 h-44" %>
  </div>

  <p class="pt-2 mx-auto mb-8 text-xs text-center text-gray-600">Photos prises lors de voyages en train vélo</p>

  <div class="max-w-2xl mx-auto text-gray-700 leading-6">
    <h2 class="text-lg font-semibold">
      Pourquoi cette carte du train vélo en France ?
    </h2>
    <p class="py-4">
    Si l'on choisit ce mode de transport, par exemple pour ses prochaines vacances, on se retrouve vite contraint par la nécéssité de la proximité d'une gare.
    <br/>
    Or, à ma connaissance, il n'existait pas, jusqu'à présent de moyen de consulter toutes les zones accessibles en vélo depuis une gare Française.
    <br/>
    Poussé par l'envie de pouvoir planifier mes prochains voyages en train vélo, j'ai donc décidé de créer cette carte.
    </p>

    <h2 class="text-lg font-semibold">
      Les données
    </h2>

    <p class="py-4">
    Les données de la carte proviennent du programme <a class="underline" href="https://data.sncf.com/explore/">OpenData de la SNCF</a>, et sont enrichies des données d'<a class="underline" href="https://openrouteservice.org">OpenRouteService.</a>
    </p>

    <h2 class="text-lg font-semibold">
      Données manquantes ou erronées ?
    </h2>

    <p class="py-4">
    Si vous constatez des données manquantes ou erronées, n'hésitez pas à me le signaler par email à <a class="font-medium hover:underline" href="mailto:clement@bluegreen.cc">clement@bluegreen.cc</a>
    </p>

    <h2 class="text-lg font-semibold">
      On discute ?
    </h2>

    <p class="py-4">
    N'hésitez pas à me contacter sur <a class="font-medium hover:underline" href="https://linkedin.com/in/clementferey">LinkedIn</a>, <a class="font-medium hover:underline" href="https://twitter.com/_clementf">Twitter / X</a> ou directement par email <a class="font-medium hover:underline" href="mailto:clement@bluegreen.cc">(clement@bluegreen.cc)</a> c'est un plaisir d'échanger sur le sujet, de recueillir du feedback.
    </p>

    <p class="py-4 pb-12">
    Bonne route ! 😎 🚴‍♂️
    </p>

  </div>
</div>
