<%= form_with(model: gpx_track, url: gpx_track.persisted? ? admin_gpx_track_path(gpx_track) : admin_gpx_tracks_path, local: true, html: { class: "mx-auto max-w-2xl pt-6" }) do |form| %>
  <% if gpx_track.errors.any? %>
    <div id="error_explanation" class="px-3 py-2 mt-3 font-medium text-red-500 rounded-lg bg-red-50">
      <h2><%= pluralize(gpx_track.errors.count, "error") %> prohibited this gpx_track from being saved:</h2>

      <ul>
        <% gpx_track.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="space-y-12">
      <div class="pb-12 border-b border-gray-900/10">
        <h2 class="text-base font-semibold text-gray-900 leading-7"><%= gpx_track.name %></h2>

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-4">
            <%= form.label :name, class: "block text-sm font-medium text-gray-900 leading-6" %>
            <div class="mt-2">
              <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-emerald-600 sm:max-w-md">
                <%= form.text_field :name, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-emerald-600 sm:text-sm sm:leading-6" %>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-6 col-span-full">
          <%= form.label :file, class: "block text-sm font-medium text-gray-900 leading-6" %>
          <% if gpx_track.file.attached? %>
            <div class="mt-2">
              <p class="text-sm text-gray-600 leading-6">Current file: <%= gpx_track.file.filename %></p>
            </div>
          <% end %>
          <div class="flex justify-center px-6 py-10 mt-2 border border-dashed rounded-lg border-gray-900/25">
            <div class="text-center">
              <%= heroicon "document", class: "h-12 w-12 text-gray-400 mx-auto" %>
              <div class="flex mt-4 text-sm text-gray-600 leading-6">
                <label for="file-upload" class="relative font-semibold bg-white cursor-pointer text-emerald-600 rounded-md focus-within:outline-none focus-within:ring-2 focus-within:ring-emerald-600 focus-within:ring-offset-2 hover:text-emerald-500">
                  <span>Upload a file</span>
                  <%= form.file_field :file, class: "sr-only", id: "file-upload" %>
                </label>
              </div>
              <p class="text-xs text-gray-600 leading-5">GPX files are supported</p>
            </div>
          </div>
        </div>

        <div class="mt-6 space-y-6">
          <div class="relative flex gap-x-3">
            <div class="flex items-center h-6">
              <%= form.check_box :visible, class: "w-4 h-4 text-emerald-600 border-gray-300 rounded focus:ring-emerald-600" %>
            </div>
            <div class="text-sm leading-6">
              <%= form.label :visible, class: "font-medium text-gray-900" %>
              <p class="text-gray-500">Make this track visible on the site</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div>
  </div>

  <div class="flex items-center justify-end mt-6 gap-x-6">
    <%= link_to "Cancel", admin_gpx_tracks_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
    <%= form.submit "Save", class: "rounded-md bg-emerald-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-emerald-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-600" %>
  </div>
<% end %>
