<!DOCTYPE html>
<html>
  <head>
    <title>La carte de France du vélo train</title>
    <meta name="description" content="Découvrez les territoires de France accessibles en vélo depuis une gare" />
    <meta property="og:title" content="VeloTrain, carte interactive pour planifier un voyage en vélo + train" />
    <meta property="og:description" content="Avec VeloTrain, découvrez les territoires de France accessibles en vélo depuis une gare" />
    <meta property="og:image" content="<%= image_url("og_image.jpg") %>"/>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= combobox_style_tag %>
    <%= stylesheet_link_tag "application", "maplibre", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-sans antialiased text-gray-900">
    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
      <%= yield %>
  </body>
</html>
